/* Estilos para el encabezado */
.header {
  background-color: rgb(247, 190, 117);
  padding: 20px;
  color: black;
  text-align: left;
  font-family: 'Arial', sans-serif;
}

/* Estilos para el logo en el encabezado */
.header img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Estilos para el contenedor de la descripción */
.description-container {
  width: 80%;
  margin: 0 auto;
}

/* Estilos para el texto del encabezado */
.header span {
  font-weight: bold;
}

/* Estilos para el contenedor de las imágenes */
.image-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilos para las imágenes */
.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Estilo adicional para eliminar el margen derecho de la última imagen */
.image:last-child {
  margin-right: 0;
}

/* Estilos para el contenedor del cuadro de texto y el botón */
.textbox-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la imagen a la izquierda del cuadro de texto */
.left-image-container {
  width: 50%; /* Para que tenga el mismo ancho que el recuadro negro */
  display: flex;
  align-items: center;
}

.left-image {
  width: 100%;
  height: auto;
  border-radius: 0;
}

/* Estilos para el recuadro negro */
.review-container {
  display: flex;
  flex-direction: column; /* Para que el título y el cuadro de reseña estén uno encima del otro */
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 1, 15);
  color: white;
}

.review-box {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 0;
}

/* Estilos para el cuadro de texto */
.textbox {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.textbox::placeholder {
  font-family: Arial, sans-serif;
}
/* Estilos para el botón */
.button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para el botón al pasar el mouse */
.button:hover {
  background-color: #0056b3;
}
